* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DinMd";
}
body {
  background: white;
  overflow-x: hidden;
  max-width: 430px;
  margin: auto;
}
@font-face {
  font-family: "Din";
  src: url("../fonts/DINNextLTArabic-Regular-2.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DinMd";
  src: url("../fonts/DINNextLTArabic-Medium-4.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "DinBold";
  src: url("../fonts/DINNextLTArabic-Bold-4.ttf");
  font-weight: 700;
  font-style: normal;
}

input::placeholder {
  font-family: "Din";
}
:root {
  --main_color: #2563eb;
}
h1 {
  font-family: "DinBold";
}
.m60 {
  margin-bottom: 60px;
}
p {
  margin: 0;
  font-family: "Din";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg, #1f2265, #0181c6);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
.m80 {
  margin-bottom: 80px;
}
.m100 {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
}

/*start style*/
/* head*/
.head {
  margin-bottom: 48px;
}
.head .part {
  position: relative;
  height: 430px;
  width: 100%;
}
.head .part .imgHead {
  object-fit: cover;
  height: 100%;
}
.head .part .dec {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0px 22px;
}

.head .part h2 {
  font-family: "DinMd";
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 16px;
}
.head .part p {
  font-size: 14px;
  line-height: 20px;
  font-family: "Din";
  margin-bottom: 24px;
  text-align: center;
}
.head .part a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 42px;
  border-radius: 4px;
  padding: 10px;
  background: rgba(98, 208, 182, 1);
  color: white;
  margin: auto;
  font-family: "Din";
}
.head .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  width: 14px;
  height: 14px;
  background: transparent;
  border: 1px solid white;
  opacity: 1;
  transition: 0.3s;
}
.head .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: rgba(98, 208, 182, 1);
  border-radius: 10px;
  width: 36px;
  border: 1px solid rgba(98, 208, 182, 1);
}
.head .swiper-pagination {
  bottom: var(--swiper-pagination-bottom, 18px);
}
/* products*/
.products {
  padding: 48px 16px;
}
.products .headProducts {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 22px;
  gap: 6px;
}
.products .headProducts h2 {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  color: rgba(51, 51, 51, 1);
  font-family: "DinBold";
}
.products .headProducts h3 {
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  line-height: 20px;
  font-family: "Din";
}
.products .headProducts a {
  min-width: 108px;
  width: 108px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid rgba(98, 208, 182, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px;
}
.products .headProducts a p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(98, 208, 182, 1);
  font-family: "DinMd";
}
.products .partProducts {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
  border-radius: 4px;
}
.products .partProducts .part {
  position: relative;
  width: 190px;
  border: 1px solid rgba(238, 238, 238, 1);
}
.products .partProducts .part .imgProduct {
  width: 100%;
  height: 212px;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 16px;
}
.products .partProducts .part .info {
  padding: 2px 8px;
}
.products .partProducts .part .info h2 {
  color: rgba(98, 208, 182, 1);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  font-family: "DinMd";
}
.products .partProducts .part .info h3 {
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  font-family: "DinMd";
}
.products .partProducts .part .info h4 {
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  font-family: "DinMd";
}
.products .partProducts .part .info .price {
  display: flex;
  align-content: center;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 18px;
}
.products .partProducts .part .info .price p {
}
.products .partProducts .part .info .price p.now {
  color: rgba(245, 81, 87, 1);
  font-size: 18px;
  line-height: 25px;
  font-family: "DinMd";
}
.products .partProducts .part .info .price p.sall {
  color: rgba(165, 165, 165, 1);
  font-size: 14px;
  line-height: 20px;
  text-decoration: line-through;
  font-family: "Din";
}
.products .partProducts .part .info .endPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.products .partProducts .part .info .endPart .addTo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  height: 56px;
  width: 116px;
  color: rgba(51, 51, 51, 1);
  border: none;
  font-family: "DinMd";
  font-size: 16px;
  line-height: 24px;
  border: 1px solid rgba(238, 238, 238, 1);
  transition: 0.3s;
}
.products .partProducts .part .info .endPart .addTo:hover {
  background: rgba(98, 208, 182, 1);
  border: 1px solid rgba(98, 208, 182, 1);
  color: white;
}
.products .partProducts .part .info .endPart .fav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 4px;
  height: 56px;
  width: 50px;
  border: 1px solid rgba(238, 238, 238, 1);
}
.products .partProducts .part .satte {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 5px;
  border-radius: 2px;
  min-width: 56px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-family: "Din";
}

.products .partProducts .part .satte::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  background-color: transparent;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
}
.products .partProducts .part .satte.new {
  background: rgba(98, 208, 182, 1);
}
.products .partProducts .part .satte.new::before {
  border-color: transparent transparent transparent rgba(98, 208, 182, 1);
}
.products .partProducts .part .satte.sall {
  background: rgba(245, 81, 87, 1);
}
.products .partProducts .part .satte.sall::before {
  border-color: transparent transparent transparent rgba(245, 81, 87, 1);
}
/*footer*/
footer {
  padding: 32px 16px;
}

footer .parts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
footer .parts .part {
}
footer .parts .part .headFooter {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 16px;
  font-family: "DinMd";
}
footer .parts .part .p_footer {
  font-size: 16px;
  line-height: 25px;
  color: rgba(102, 102, 102, 1);
  font-family: "Din";
}
footer .parts .part ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .parts .part ul li {
}
footer .parts .part ul li .LinkFooter {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  transition: 0.3s;
}
footer .parts .part.contact ul li .LinkFooter {
  align-items: flex-start;
}
footer .parts .part ul li .LinkFooter:hover {
  padding: 0px 8px;
}
footer .parts .part ul li .LinkFooter:hover svg path {
  fill: rgba(98, 208, 182, 1);
}

footer .parts .part ul li .LinkFooter:hover .p_footer,
footer .parts .part ul li .LinkFooter:hover span {
  color: rgba(98, 208, 182, 1);
}
footer .parts .part ul li .LinkFooter:hover {
}
footer .parts .part ul li .LinkFooter svg {
  transition: 0.3s;
}
footer .parts .part ul li .LinkFooter .p_footer {
  margin-bottom: 4px;
  transition: 0.3s;
}
footer .parts .part.contact ul li .LinkFooter svg {
  margin-top: 12px;
}
footer .parts .part ul li .LinkFooter span {
  display: block;
  font-size: 16px;
  line-height: 25px;
  color: #a5a5a5;
  font-family: "Din";

  transition: 0.3s;
}
footer .parts .part .followLinks {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}
footer .parts .part .followLinks .follow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 0.5px solid rgba(238, 238, 238, 1);
  transition: 0.3s;
}
footer .parts .part .followLinks .follow:hover {
  border: 0.5px solid rgba(98, 208, 182, 1);
}
footer .parts .part .followLinks .follow svg {
  transition: 0.3s;
}
footer .parts .part .followLinks .follow svg path {
  transition: 0.3s;
}
footer .parts .part .followLinks .follow:hover svg path {
  fill: rgba(98, 208, 182, 1);
}
/*categories*/
.categories {
}
.categories .mySwiper2 {
  padding: 0px 16px;
}
.headCategories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 0px 16px;
}
.headCategories .part1 {
}
.headCategories .part1 h2 {
  font-size: 20px;
  line-height: 28px;
  font-family: "DinBold";
  margin: 0;
}
.headCategories .part1 p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  font-family: "Din";
}
.swip {
  position: relative;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 90px;
}

.swip .btnSwiperNext,
.swip .btnSwiperPrev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0.87px solid rgba(238, 238, 238, 1) !important;
  margin: 0;
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  opacity: 1;
  transition: 0.3s;
}
.swip .btnSwiperNext:hover,
.swip .btnSwiperPrev:hover {
  background: #cfcfcf99;
}
.swip .btnSwiperNext:after,
.swip .btnSwiperPrev:after {
  color: rgba(102, 102, 102, 1);
  font-weight: 800;
  font-size: 12px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btnSwiperNext:after,
.swiper-rtl .btnSwiperPrev:after {
  content: "next";
}
.btnSwiperPrev:after,
.swiper-rtl .btnSwiperNext:after {
  content: "prev";
}
.categories .part {
}
.categories .part .imgItem {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: block;
  margin: 0px auto 16px;
  border-radius: 50%;
}
.categories .part h3 {
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  font-family: "DinMd";

  text-align: center;
}
.categories .part p {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  font-family: "Din";
}
/*comments*/
.comments {
}
.comments .mySwiper3 {
  padding: 0px 16px;
}
.comments .part {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 24px;
  width: 294px;
  max-width: 100%;
}
.comments .part .headPart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.comments .part .headPart .star {
  display: flex;
  align-items: center;
  gap: 2px;
}
.comments .part .headPart .star svg {
}
.comments .part .headPart .star svg path {
}
.comments .part .headPart .seme {
}
.comments .part .headPart .seme svg {
}
.comments .part h3 {
  font-size: 16px;
  color: rgba(102, 102, 102, 1);
  margin-bottom: 16px;
  line-height: 25px;
  font-family: "Din";
}
.comments .part .person {
  display: flex;
  align-items: center;
  gap: 8px;
}
.comments .part .person .imgPerson {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  min-width: 48px;
}
.comments .part .person .info {
}
.comments .part .person .info h4 {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 25px;
  font-family: "DinMd";
}
.comments .part .person .info p {
  font-size: 14px;
  font-family: "Din";
  line-height: 20px;

  color: rgba(102, 102, 102, 1);
}
/*notFound*/
.notFound {
  padding: 32px 16px;
}
.notFound .imgNot {
  width: 134px;
  height: 134px;
  object-fit: cover;
  display: block;
  margin: 0px auto 16px;
}
.notFound h2 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
  text-align: center;
  font-family: "DinMd";
}
.notFound p {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  font-family: "Din";
  color: rgba(165, 165, 165, 1);
}
.cart {
  padding: 10px 16px;
}
.cart h2 {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 24px;
  color: rgba(102, 102, 102, 1);
  font-family: "Din";
}
.cart .cartItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cart .cartItems .item {
  padding: 16px;
  width: 100%;
  border: 1px solid rgba(238, 238, 238, 1);
}
.cart .cartItems .item .part1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.cart .cartItems .item .part1 .imgItem {
  width: 95px;
  height: 80px;
  object-fit: contain;
  object-position: center;
  min-width: 94px;
}
.cart .cartItems .item .part1 .info {
  flex: 1;
}
.cart .cartItems .item .part1 .info h3 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "DinMd";
}
.cart .cartItems .item .part1 .info p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  font-family: "Din";
  color: rgba(102, 102, 102, 1);
}
.cart .cartItems .item .part1 .delItem {
  width: 28px;
  height: 28px;
  min-width: 28px;
  border-radius: 50%;
  background: rgba(248, 248, 248, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border: none;
}
.cart .cartItems .item .part1 .delItem:hover {
  background: rgb(255, 231, 231);
}
.cart .cartItems .item .part1 .delItem svg {
  width: 8px;
  height: 8px;
}
.cart .cartItems .item .part1 .delItem:hover path {
  fill: rgb(243, 159, 159);
}
.cart .cartItems .item .line {
  width: 92%;
  height: 1px;
  background: rgba(238, 238, 238, 1);
  margin: 16px auto;
  display: block;
}
.cart .cartItems .item .part2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}
.cart .cartItems .item .part2 .counter {
  height: 42px;
  width: auto;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(238, 238, 238, 1);
}
.cart .cartItems .item .part2 .counter button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: "Din";
  color: rgba(102, 102, 102, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .cartItems .item .part2 .counter button.dec {
  padding-right: 4px;
  border-right: 1px solid rgba(238, 238, 238, 1);
}
.cart .cartItems .item .part2 .counter button.inc {
  padding-left: 4px;
  border-left: 1px solid rgba(238, 238, 238, 1);
}
.cart .cartItems .item .part2 .counter p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 1);
  font-family: "Din";
  min-width: 46px;
  text-align: center;
  margin: auto;
}
.cart .cartItems .item .part2 .totalPrice {
  display: flex;
  gap: 2px;
}
.cart .cartItems .item .part2 .totalPrice span {
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
  font-family: "DinMd";
}
.cart .cartItems .item .part2 .totalPrice h4 {
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
  font-family: "DinMd";
}
/*summary*/
.cart .summary {
  padding: 16px;
  border: 1px solid rgba(238, 238, 238, 1);
  width: 100%;
  margin-top: 24px;
}
.cart .summary h3 {
  font-size: 18px;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
  font-family: "DinMd";
  margin-bottom: 16px;
}
.cart .summary ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.cart .summary ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart .summary ul li h4 {
  font-size: 14px;
  line-height: 24px;
  font-family: "Din";
  color: rgba(102, 102, 102, 1);
  margin: 0;
}
.cart .summary ul li p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Din";
  color: rgba(102, 102, 102, 1);
  margin: 0;
}
.cart .summary .code {
}
.cart .summary .code h4 {
  color: rgba(51, 51, 51, 1);
  margin-bottom: 8px;
  font-size: 14px;
  font-family: "Din";
  line-height: 20px;
}
.cart .summary .code .formCode {
  width: 100%;
  height: 42px;
  display: flex;
}
.cart .summary .code .formCode input {
  padding: 10px 12px;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(238, 238, 238, 1);
  font-size: 14px;
  font-family: "DinMD";
  line-height: 20px;
  border-left: none;
  border-radius: 4px;
}
html[dir="ltr"] .cart .summary .code .formCode input {
  border-right: none;
  border-left: 1px solid rgba(238, 238, 238, 1);
}
.cart .summary .code .formCode input::placeholder {
  font-size: 14px;
  font-family: "DinMD";
  line-height: 20px;
  color: rgba(165, 165, 165, 1);
}
.cart .summary .line {
  display: block;
  height: 1px;
  width: 92%;
  margin: 16px auto;
  background-color: rgba(238, 238, 238, 1);
}
.cart .summary .code .formCode .addCode {
  width: 64px;
  min-width: 64px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(98, 208, 182, 1);
  color: rgba(98, 208, 182, 1);
  background-color: transparent;
  border-radius: 4px;
}
.cart .summary .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4px;
}
.cart .summary .total h4 {
  font-size: 16px;
  line-height: 24px;
  font-family: "DinMD";
  color: rgba(51, 51, 51, 1);
  margin: 0;
}
.cart .summary .total p {
  font-size: 16px;
  line-height: 24px;
  font-family: "DinMD";
  color: rgba(51, 51, 51, 1);
}
.cart .summary .tax {
  color: #a5a5a5;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}
.cart .summary .tax span {
  font-size: 14px;
  line-height: 20px;
  color: rgba(245, 81, 87, 1);
}
.cart .summary .btnDone {
  width: 100%;
  height: 56px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  background: rgba(98, 208, 182, 1);
  font-family: "DinMD";
  border: none;
  border-radius: 4px;
}
/**/
.pathPage {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
}
.pathPage a {
  color: rgba(98, 208, 182, 1);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-family: "Din";
}
.pathPage span {
  color: rgba(98, 208, 182, 1);
  font-size: 16px;
  font-family: "Din";
  line-height: 24px;
}
.pathPage p {
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-family: "Din";
}
/*details*/
.details {
  padding: 8px 16px;
}
.details .item {
}
.details .item .boxImgItem {
  width: 100%;
  height: 396px;
  border-radius: 4px;
  border: 1px solid rgba(238, 238, 238, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.details .item .imgItem {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.details .item .imagesItem {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: scroll;
  margin-bottom: 32px;
}
.details .item .imagesItem::-webkit-scrollbar {
  display: none;
}
.details .item .imagesItem .imgOne {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: transparent;

  min-width: 80px;
}
.details .item .imagesItem .imgOne.active {
}
.details .item .imagesItem img {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.details .item .imagesItem img.active {
  border: 1px solid rgba(98, 208, 182, 1);
  opacity: 1;
}
.details .item h2 {
  font-size: 24px;
  line-height: 35px;
  font-family: "DinMd";
  margin-bottom: 16px;
}
.details .item .countPay {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.details .item .countPay svg {
}
.details .item .countPay p {
  font-size: 16px;
  line-height: 25px;
  color: #333333;
  font-family: "Din";
}
.details .item .countPay p span {
  font-family: "Din";
  color: rgba(98, 208, 182, 1);
}
.details .item .shareItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.details .item .shareItem svg {
}
.details .item .shareItem p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(102, 102, 102, 1);
  font-family: "Din";
}
.details .item h3 {
  font-size: 16px;
  line-height: 25px;
  color: rgba(102, 102, 102, 1);
  font-family: "Din";
  margin-bottom: 8px;
}
.details .item .more {
  color: rgba(98, 208, 182, 1);
  font-size: 16px;
  line-height: 25px;
  font-family: "Din";
  margin-bottom: 24px;
}
.details .item .countItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 24px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.details .item .countItem h4 {
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
  font-family: "DinMd";
}
.details .item .countItem h5 {
  font-size: 24px;
  line-height: 36px;
  color: rgba(51, 51, 51, 1);
  font-family: "DinBold";
}
.details .item .countItem .counter {
  height: 50px;
  width: 180px;
  border: 1px solid rgba(238, 238, 238, 1);
  display: flex;
  align-items: center;
}
.details .item .countItem .counter .amount {
  flex: 1;
  text-align: center;
  border-inline: 1px solid rgba(238, 238, 238, 1);
}
.details .item .countItem .counter button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 56px;
  font-size: 14px;
  background-color: transparent;
  border: none;
}
.details .item .payNow {
  background: rgba(98, 208, 182, 1);
  border: none;
  width: 100%;
  border-radius: 4px;
  height: 56px;
  color: white;
  font-size: 16px;
  font-family: "DinMd";
  margin-bottom: 16px;
}
.details .item .addTo {
  background-color: transparent;
  border: 1px solid rgba(98, 208, 182, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 56px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.details .item .addTo svg {
}
.details .item .addTo p {
  font-size: 16px;
  font-family: "DinMd";
  color: rgba(98, 208, 182, 1);
}
/*payType*/
.payType {
  padding: 0px 16px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.payType .part {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 16px;
  border-radius: 4px;
}
.payType .part img {
  width: 86px;
  height: auto;
  margin-bottom: 16px;
}
.payType .part h3 {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
  font-family: "Din";
}
.payType .part a {
  color: rgba(98, 208, 182, 1);
  font-family: "Din";

  font-size: 14px;
  line-height: 20px;
}
/*payments*/
.payments {
  padding: 16px;
  background: rgba(29, 31, 31, 1);
  color: white;
}
.payments .parts {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.payments .parts .part {
  height: 32px;
  width: 64px;
  border-radius: 2px;
}
.payments .parts .part img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.payments .taxNum {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.payments .taxNum img {
  height: 22px;
  width: auto;
  
}
.payments .taxNum h3 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Din";
color: white;
}
.payments .rights {
  font-size: 14px;
  line-height: 20px;
  font-family: "Din";
  color: white;
}
/*navbar*/

.navbar {

  height: 78px;
}
.navbar-dark .navbar-toggler-icon{
  background-image: url('../images/Menu.svg');
}
.navbar-dark .navbar-toggler {
 outline: none;
  padding: 0;
  border: 0;
  box-shadow: none;
}
.navbar-brand{
  display: flex;
  align-items: center;
  gap: 4px;
  color: rgba(51, 51, 51, 1);
}
.navbar-brand p{
  font-size: 16px;
  line-height: 20px;
  width: 40px;
  font-family: "DinBold";
  text-wrap: wrap;
  color: rgba(51, 51, 51, 1);

}
.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus{
  color: rgba(51, 51, 51, 1);

}
.navbar .part1{
  display: flex;
  align-items: center;
  gap: 0px;
}